* {
    box-sizing: border-box;
}

body{
background-color: #000;
}

h2 {
    color: #cdcaca;
    margin-top: 5px;
}

span {
    color: #cdcaca;
    font-family: 'Times New Roman', Times, sans-serif;
}

.contact input {
    width: 200px;
    height: 25px;
}

.contact input, textarea {
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}

button{
    display: block;
    margin-top: 10px;
    padding: 6px 12px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    color: #cdcaca;
    background-color: #000;
    border-color: #9a0000;
}


/* button {
    margin: 10px 0 0px 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0,5);
    cursor: pointer;
    padding: 6px 12px;
    font-size: 15px;
    outline: none;
    
} */

textarea {
    width: 200px;
    height: 100px;
    max-width: 250px;
    max-height: 250px;
    cursor: pointer;
    background-color: #000;
    border-color: #9a0000;
    color: #cdcaca;
}
fieldset {
    width: 320px;
    border-radius: 10px;
    border-color: #9a0000;
}

input {
    cursor: pointer;
    background-color: #000;
    border-color: #9a0000;
    color: #cdcaca;
    border-radius: 5px;
}

checkbox {
color: aqua;
}

input::placeholder, textarea::placeholder {
    color: #cdcaca;
}
